# Bundler config
/.bundle

# Logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep

# Private files
/private/*
!/private/.keep

# Byebug command history file
.byebug_history

# OSX hidden file
.DS_Store

# Secret configuration
/config/application.yml
.generators

# NPM
**/node_modules
**/npm-debug.log

# Webpack bundle
/app/assets/javascripts/**/*bundle.js*
/app/assets/stylesheets/**/*bundle.css*
/public/images

# Test bundle
/spec/support/assets/javascripts/**/*bundle.js*
/spec/support/assets/stylesheets/**/*bundle.css*
/spec/support/assets/stylesheets/foundation_emails.scss

# Webpack generated attach point for dev server
/app/assets/javascripts/index.html

# WebStorm
**/.idea

# Assets
/public/assets

# Webpack placed fonts
/public/fonts/stjude-sans

# Vendored cookbook
/sjcloud_cookbook_new/dist

# YARD doc
/doc
/.yardoc

# Docker environment file
.env

coverage

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# The tests store gems in the vendor folder, lets make sure to
# never commit them.
/vendor/bundle/*

*.zip

/config/master.key
