@import url("bootstrap/dist/css/bootstrap.min.css");

.wrapItems {
  position: absolute;
  right: 0;
  left: 0;
  overflow: auto;
}


ul.listItems {
  padding: 0 30px;
}

li.item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.5em;
  border-bottom: 2px solid rgba(80, 2, 90, 0.411);
  padding: 5px 0;
}

.item .buttons-container button {
  margin: 0px 5px;
}

input[placeholder] {
  font-size: 1.2em;
}

.taskContainer {
  padding: 15px;
}

.taskContainer .newTask {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
}
